.git
.gitignore
.DS_Store

node_modules
**/node_modules

dist
**/dist
build
**/build
.vite
**/.vite

__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.venv
**/.venv
*.py[cod]

tmp
temp
docs
*.log
*.zip
*.tar
*.tar.gz

sandbox/*/frontend/node_modules
sandbox/*/backend/node_modules
sandbox/*/.git
